/* Body */
body{
    justify-content: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Log in */
.log-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-90%);
    width: 750px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

h3{
    font-weight: lighter;
    justify-self: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 6px;
}

select{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.role{
    justify-tracks: center;
    align-tracks: center;
}
/* Log in container */
.log-in-container{
    background-color: rgba(70, 207, 241, 0.46);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 35%;
    margin: 10px;
    padding-left: 13px;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 0 10px rgba(112, 188, 247, 0.2);
    cursor: pointer;
}

button{
    background-color: #04aa6d;
    color: #fff;
    border-radius: 4px;
    margin: 8px 0;
    align-self: center;
    cursor: pointer;
    width: 11%;
    font-weight: normal;
}

button:hover{
    opacity: .8;
}

button .select::after{
    color: rebeccapurple;
}

/* forgot password text*/
span.psw{
    float: center;
}

.cancelbtn{
    width: auto;
    float: center;
    padding: 1px 6px;
    background-color: #f44336;
}


@media screen and (max-width:300px) {
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 100%;
    }
    
}